# Results Document

### Tournament

depth = 20

epoch = 399

In [5]:
import pandas as pd

name_dict = {'train_setting_0': 'Regular',
             'train_setting_1': 'Always both with queen',
             'train_setting_2': 'Never only one with bishop pair',
             'train_setting_3': 'Never only one with queen',
             'train_setting_4': 'Never only one with knight pair',}

results = pd.read_csv('tournaments/ratings/ratings_22.csv')
results['Description'] = results['PLAYER'].map(name_dict)
results['Elo delta'] = results['RATING'].max() - results['RATING'] 
results

,#,PLAYER,RATING,ERROR,POINTS,PLAYED,(%),Description,Elo delta
0,1,train_setting_0,2460.0,-,1272.5,2000,63.62,Regular,0.0
1,2,train_setting_4,2457.1,-,1264.0,2000,63.20,Never only one with knight pair,2.9
2,3,train_setting_2,2450.8,-,1246.0,2000,62.30,Never only one with bishop pair,9.2
3,4,train_setting_3,2431.4,-,1190.0,2000,59.50,Never only one with queen,28.6
4,5,train_setting_1,1700.7,-,27.5,2000,1.38,Always both with queen,759.3